spring:
  application:
    name: producer-service

  datasource:
    url: jdbc:postgresql://localhost:5432/producer_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/changelog/master.yaml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        generate_statistics: false
        format_sql: true
    show-sql: false


  kafka:
    bootstrap-servers: localhost:9092

server:
  port: 8080
