version: "3.8"
services:

  postgres:
    image: postgres:15-alpine
    container_name: loan-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: producer_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  kafka:
      image: apache/kafka:3.7.0
      container_name: loan-kafka
      ports:
        - '9092:9092'
      environment:
        KAFKA_NODE_ID: 0
        KAFKA_PROCESS_ROLES: controller,broker
        KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093

        KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,INTERNAL://:29092
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,INTERNAL://kafka:29092
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,INTERNAL:PLAINTEXT
        KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      volumes:
        - kafka_data:/var/lib/kafka/data
volumes:
  postgres_data:
  kafka_data: